{% extends 'base.html.twig' %}

{% block body %}
<div
    class="flex h-auto min-h-screen items-center justify-center overflow-x-hidden bg-[url('https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/auth/auth-background-2.png')] bg-cover bg-center bg-no-repeat py-10"
>
    <div class="relative flex items-center justify-center px-4 sm:px-6 lg:px-8">
        <div class="absolute">
            {# maybe add an image here like a backdrop or something #}
        </div>
        <div class="bg-base-100 shadow-base-300/20 z-1 w-full space-y-6 rounded-xl p-6 shadow-md sm:max-w-md lg:p-8">
            <div class="flex items-center gap-3">
                <img src="{{ asset('images/santa-face.png') }}" class="size-8" alt="Visage de père noël" />
                <h2 class="text-base-content text-xl font-bold">Secret Santa</h2>
            </div>
            <div>
                <h3 class="text-base-content mb-1.5 text-2xl font-semibold">Veuillez vérifier votre boîte mail</h3>
                <p class="text-base-content/80">
                    Un lien d'activation pour votre évènement vous a été envoyé à l'adresse : {{ event.adminEmail }}. Veuillez vérifier votre boîte mail et cliquer sur ce lien pour terminer le processus de création.
                </p>
            </div>
            <a href="{{ path('app_home') }}"><button class="btn btn-lg btn-primary btn-gradient btn-block">Ignorer pour l'instant</button></a>
            <p class="text-base-content/80 text-center">
                Vous n'avez encore rien reçu?
                <a href="{{ path('app_event_verification_resend_email') }}" class="link link-animated link-primary font-normal">Renvoyer</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
