{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <div class="min-h-screen bg-gray-900 py-6 flex flex-col justify-center sm:py-12">
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-red-600 to-red-600-dark shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
                </div>
                <div class="relative px-2 py-5 bg-white shadow-lg sm:rounded-3xl sm:p-10">
                    <a role="button" href="{{ path('app_new_event') }}"
                        class="block bg-white text-gray-900 hover:bg-red-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-600-light font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-200 ease-in-out shadow-lg hover:shadow-xl"
                        type="button">
                        <img src="{{ asset('images/santa-face.png') }}" class="m-0 mb-2" alt="Image de père noël">
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
