{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="snow-container" id="snow-container"></div>
    <main>
        <div class="min-h-screen bg-noel-nuit py-6 flex flex-col justify-center sm:py-12">
            <div class="relative py-3 sm:max-w-xl sm:mx-auto">
                <div
                    class="absolute inset-0 bg-gradient-to-r from-noel-rouge to-noel-rouge-dark shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
                </div>
                <div class="relative px-2 py-5 bg-noel-blanc shadow-lg sm:rounded-3xl sm:p-10">
                    <div class="max-w-md mx-auto">
                        <div>
                            <img src="{{ asset('images/santa-face.png') }}" class="m-0" alt="Image de père noël">
                        </div>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
