
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
/.idea/symfony2.xml
/config/packages/web_profiler.yaml
/config/routes/web_profiler.yaml
/node_modules/
/package.json
/package-lock.json

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/commandlinetools/Symfony_18_09_2025_14_31.xml
