{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <p>
            La vérification a échouée.
        </p>
    </section>
{% endblock %}

{% block title %}
    Vérification échouée
{% endblock %}

