{% extends 'base.html.twig' %}

{% block body %}
    <h1>La vérification a échouée</h1>
    <p>
        La vérification pour l'évènement a échouée : l'évènement n'existe plus, ou le token n'est pas valide.
    </p>
{% endblock %}

{% block title %}
    Verification failed
{% endblock %}

